body{
  background-image:url(https://images.techhive.com/images/article/2017/05/surface_laptop_group-100720813-orig.jpg);
}
.hover-grad-txt {
  font-size:100px;
  text-align:center;
  color:#191335;
  background-image:linear-gradient(to right, #191335, #191335);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition:all 0.4s ease-in-out;
}

.hover-grad-txt:hover {
  background-image:linear-gradient(to right, #01A5F8, #01BFD8);
  -webkit-text-fill-color: transparent;
}

nav{
  text-align: center;
  font-size: 30px;
}

a{
  background-color:aqua;
  margin: 15px;
  border: 2px solid black;
}

a:hover{
  background-color: burlywood;
  color: black;
}

.animated-text {
  background-image: -webkit-linear-gradient(rgb(112, 9, 196) 50%, rgb(235, 123, 235) 50%);
  background-size: 100% 50px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: stripes 2s linear infinite;
  animation: stripes 2s linear infinite;
  font-size: 70px;
  text-align: center;
}
@-webkit-keyframes stripes {
  100% {
    background-position: 0 -50px;
  }
}
@keyframes stripes {
  100% {
    background-position: 0 -50px;
  }
}
.animated-text2 {
  background-image: -webkit-linear-gradient(rgb(17, 170, 37) 50%, rgb(99, 238, 106) 50%);
  background-size: 100% 50px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: stripes 2s linear infinite;
  animation: stripes 2s linear infinite;
  font-size: 70px;
  text-align: center;
}
@-webkit-keyframes stripes {
  100% {
    background-position: 0 -50px;
  }
}
@keyframes stripes {
  100% {
    background-position: 0 -50px;
  }
}

